body {
    background-image: url("Assets/CodingBackground.jfif");
    /*background-repeat: round;*/
    height: 640px;
    max-height: 640px;
}

.container {
    display: block;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font: white;
    text-align: justify;
    text-align-last: center;
    background-color: rgba(255,255,255,.8);
    border-radius: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    overflow-y: auto;
}

.container::-webkit-scrollbar {
    display: none;
}

.myName {
    display: block;
    margin: auto;
    padding-top: 25px;
    /* text-shadow: 2.5px 2.5px darkslategrey; */
    font-size: 50px;
    width: 100%;
    border-radius: 20px;
    font-family: Impact, Charcoal, sans-serif;
}

.photo {
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    display: block;
    width: 35%;
    height: 35%;
    border-color: black;
    border-style: solid;
    border-radius: 50%;
    background-color: rgba(5,5,5,.4);
}

p {
    margin-left: 20px;
    margin-right: 20px;
    padding: 2%;
    text-decoration: none;
}

p.info {
    font-size: 18px;
}

hr {
    background-color: black;
    width: 98%;
    height: 3px;
}

.javaImage {
    height: 60%;
    width: 60%;
    border-radius: 30px;
}

.image {
    border-radius: 30px;
}

p.contato {
    padding-top: 0px;
}

@media screen and (max-width: 992px) {
    body {
        background-image: url("Assets/mobile-wallpaper.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 100%;
    }

    .container {
        top: 50px;
        position: relative;
        width: 80%;
        height: 1620px;
        overflow-y: auto;
    }

    .photo {
        width: 60%;
    }

    .javaImage {
        width: 70%;
        height: 50%;
    }

    .image {
        height: 35%;
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    body {
        background-image: url("Assets/mobile-wallpaper.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 100%;
    }

    .container {
        top: 50px;
        position: relative;
        width: 80%;
        height: 1300px;
        overflow-y: auto;
    }

    .photo {
        width: 60%;
        height: 40%;
    }

    .javaImage {
        width: 70%;
        height: 50%;
    }

    .image {
        height: 35%;
        width: 80%;
    }

    p.info {
        font-size: 35px;
    }

    p {
        font-size: 24px;
    }
}