body {
    background-image: url("Assets/CodingBackground.jfif");
    /*background-repeat: round;*/
    height: 640px;
    max-height: 640px;
}

.container {
    display: block;
    width: 50%;
    height: 660px;
    max-height: 660px;
    margin-left: auto;
    margin-right: auto;
    font: white;
    text-align: justify;
    text-align-last: center;
    background-color: rgba(255,255,255,.8);
    border-radius: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    overflow-y: auto;
}

.myName {
    display: block;
    margin: auto;
    padding-top: 25px;
    /* text-shadow: 2.5px 2.5px darkslategrey; */
    font-size: 50px;
    width: 100%;
    border-radius: 20px;
    font-family: Impact, Charcoal, sans-serif;
}

.photo {
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    display: block;
    width: 35%;
    height: 35%;
    border-color: black;
    border-style: solid;
    border-radius: 50%;
    background-color: rgba(5,5,5,.4);
}

p {
    margin-left: 20px;
    margin-right: 20px;
    padding: 2%;
    text-decoration: none;
}

p.info {
    font-size: 18px;
}

hr {
    background-color: black;
    width: 98%;
    height: 3px;
}

.javaImage {
    height: 60%;
    width: 60%;
    border-radius: 30px;
}

.image {
    border-radius: 30px;
}

p.contato {
    padding-top: 0px;
}